<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>About Page</title>
</head>
<body>
    {{!-- {{>navbar}} --}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404image.webp" alt="person image" class="img-fluid" title="deepak rajak">
                        </figure>
                        <p>Welcome To Deepak Rajak world</p>
                        <h1>{{errmsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  {{!-- {{>footer}} --}}
</body>
</html>
