<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>About Page</title>
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/image2.webp" alt="person image" class="img-fluid" title="deepak rajak">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome To weather Page</p>
                        <h1>i am a <span class="text_clr">mern stack developer</span> students</h1>
                        <a href="http://deepakdevelopment.epizy.com/shopping%20mobile/?i=1  "><button>About Me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  {{>footer}}
</body>
</html>
